body {
    background-image: url("https://github.com/VillarrealScarlette/SCL010-Social-Network/blob/Registrarse/src/assets/img/fondo%20matchgoal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}
nav {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid #d6d9dc;
}
nav img {
    max-width: 140px;
    max-height: 45px;
    margin-left: 80px;
}

.nav-content{
    margin-right: 80px;
}

nav a {
    color: #242424;
    text-decoration: none;
    margin: 10px;
}
nav a:hover {
    color: #6570F4;
}
/* .container-img {
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 520px;
}
.template {
    max-width: 1080px;
    background-image: url("https://github.com/VillarrealScarlette/SCL010-Social-Network/blob/Registrarse/src/assets/img/fondo%20matchgoal.jpg");
} */


