.container {
    width: 100%;
    display: flex;
    justify-content: center;
}
input, .login-content, .btn {
    border: 1px solid transparent;
    border-color: #a0a3a7 !important;
    border-radius: 5px !important;
    border-style: solid !important;
    border-width: 1px !important;
}
.login-content {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
    min-height: 350px;
    max-width: 400px;
    padding: 24px;
    margin: 10px;
    background-color: #fff;
}
input {
    padding: 5px;
    margin: 5px;
}
.btn {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
p {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
a {
    padding-left: 3px;
}
.login-google {
    background-color: #fff;
}
.login-facebook {
    background-color: #3b5998;
    color: #fff;
}
#login, #create {
    background-color: yellowgreen;
}